.brand-emblem{
  display: inline-flex;
}

#logo-csuf{
  margin-right: 3%;
}

#logo-imedz{
  margin-right: 3%;
}

#logo-csuf-edu{
  margin-left: -3%;
  margin-right: 3%;
}

#logo-umumbai{
  margin-left: -7%;
  margin-right: 4%;
}

.work-ex{
  color: white;
}

.custom-class{
  height: 500px;
}

.custom-class h3{
  margin-top: 5%;
}

@media(max-width: 486px) {

  .custom-class{
    height: 400px;
  }

  .custom-class h3{
    padding-top: 30px !important;
  }

}
